# webstats.props configuration file
#
# This configuration file supports an unlimited number of statistics
# reports.  The webstats.ids parameter is used to list the user-created
# IDs that represent the reports to be generated.  Each report can then
# be configured using "webstats.<id>", where <id> is one of the listed IDs.
#
# A description of the parameters follows.  If a parameter applies only
# to a particular service, it will be indicated in brackets.
#
# The following abbreviations apply:
#   GA = Google Analytics
#   TW = Twitter
#   FB = Facebook
#
#
# webstats.ids
#   Comma-separated list of user-created IDs
#
# webstats.<id>.service.name [GA,TW,FB]
#   The service to utilize.  Can be one of: analytics, facebook, twitter
#
# webstats.<id>.login.username [GA]
#   The username of the account holder for the given service.
#   This is required for Google Analytics.  Unused for Twitter.
#
# webstats.<id>.login.password [GA]
#   The password of the account holder for the given service.
#   This is required for Google Analytics.  Unused for Twitter.
#
# webstats.<id>.outfile.name [GA,TW]
#   The name of the output file to which the generated report will be
#   written.  The token "<stdout>" can be used to send the report to
#   the standard output stream.  If omitted, the report service will
#   auto-generate a suitable filename.
#
# webstats.<id>.profile.names [GA,TW]
#   A comma-separated list of the names of the profiles whose data will
#   be included in the report.
#   For Google Analytics, this restricts the list of profiles that will be
#   reported on.  If omitted, all GA profiles associated with the login
#   account will be reported on.
#   For Twitter, this is the list of Twitter accounts to be reported on.
#
# webstats.<id>.profile.filename [GA,TW]
#   Similar to profile.names, except that the profile names are read from
#   the named file, with each line indicating a profile name.
#   If both profile.names and profile.filename is used, the two lists of
#   profile names are combined.
#
# webstats.<id>.query.startdate [GA,TW]
#   The starting date for which statistics are being retrieved.
#   For Google Analytics, this is the query start date.
#   For Twitter, this date controls the "mentions" and "hashtags" columns,
#   such that the value is the total mentions/hashtags for the profile 
#   since that date, up to 100.
#   
# webstats.<id>.query.enddate [GA]
#   The ending date for which statistics are being retrieved.
#   For Google Analytics, this is the query end date.
#   For Twitter, this is not used.
#   Use the value "today" for the current date.
#   Other keyword values include "yesterday", "lastweek", and "lastmonth".
#   "weekago" is a synonym for "lastweek"
#   "monthago" is a synonym for "lastmonth"
#
# webstats.<id>.query.dimensions [GA]
#   The dimensions to be used in the report, which control what each row
#   in the report will represent.  For example, daily versus weekly
#   statistics can be produced.
#   Used only by Google Analytics.
#
# webstats.<id>.query.metrics [GA]
#   The metrics to be used in the report, which control what each column
#   in the report will display.  For example, number of visits, number of
#   visitors, number of new visitors, number of page views, etc.
#   Used only by Google Analytics.
#
# webstats.<id>.query.sort [GA]
#   The dimensions or metrics on which output should be sorted.
#   Used only by Google Analytics.
#
# webstats.<id>.query.filters [GA]
#   The dimensions or metrics on which output should be filtered.
#   Used only by Google Analytics.
#

webstats.ids = twitter,homepage,mainsite,opensite

webstats.twitter.service.name = twitter
webstats.twitter.profile.filename = senate_twitter_accounts.lst
webstats.twitter.query.startdate = 2009-06-01

webstats.homepage.service.name = analytics
webstats.homepage.login.username = nysenatecioteam
webstats.homepage.login.password = XXX
webstats.homepage.outfile.name = nysenate_homepage_all_daily.csv
webstats.homepage.profile.names = nysenate.gov
webstats.homepage.query.startdate = 2009-05-03
webstats.homepage.query.enddate = today
webstats.homepage.query.dimensions = ga:date,ga:pagePath
webstats.homepage.query.metrics = ga:pageViews,ga:uniquePageviews,ga:bounces,ga:newVisits
webstats.homepage.query.sort =
webstats.homepage.query.filters = ga:pagePath==/

webstats.mainsite.service.name = analytics
webstats.mainsite.login.username = nysenatecioteam
webstats.mainsite.login.password = XXX
webstats.mainsite.outfile.name = nysenate_mainsite_all_daily.csv
webstats.mainsite.profile.names = nysenate.gov
webstats.mainsite.query.startdate = 2009-05-03
webstats.mainsite.query.enddate = today
webstats.mainsite.query.dimensions = ga:date
webstats.mainsite.query.metrics = ga:visits,ga:visitors,ga:pageViews,ga:bounces,ga:timeOnSite,ga:newVisits

webstats.opensite.service.name = analytics
webstats.opensite.login.username = nysenatecioteam
webstats.opensite.login.password = XXX
webstats.opensite.outfile.name = nysenate_opensite_all_daily.csv
webstats.opensite.profile.names = open.nysenate.gov
webstats.opensite.query.startdate = 2009-05-03
webstats.opensite.query.enddate = today
webstats.opensite.query.dimensions = ga:date
webstats.opensite.query.metrics = ga:visits,ga:visitors,ga:pageViews,ga:bounces,ga:timeOnSite,ga:newVisits

